<div class="container-fluid marginTopDueToNavigationBar">
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2">
      <div class="sticky">
        <div class="card">
          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title"><i class="fas fa-filter"></i>Filters </h6>
            </header>
            <div class="filter-content">
              <div class="card-body" style="text-align: left; padding-bottom: 0px;">
                <div *ngFor="let productType of currentProductTypes"
                     class="custom-control custom-checkbox">
                  <span class="float-right badge badge-light round">{{getProductTypeQuantity(productType.id)}}</span>
                  <input type="checkbox" class="custom-control-input cursorPointerOnHover" id="{{productType.name}}"
                         (click)="changeSelectionStatusOfType(productType.id)">
                  <label class="custom-control-label cursorPointerOnHover"
                         for="{{productType.name}}">{{productType.name}}</label>
                </div>
                <br>
                <div class="form-group">
                  <label for="nameFilter">Filter name:</label>
                  <input type="text" class="form-control" [(ngModel)]="nameFilter" id="nameFilter"
                         (ngModelChange)="makeEvaluationsAfterFilterChange()">
                </div>
                <div class="form-group">
                  <label for="bottomPrice">Price from($):</label>
                  <input type="number" class="form-control" [(ngModel)]="bottomPrice" id="bottomPrice"
                         (ngModelChange)="makeEvaluationsAfterFilterChange()">
                </div>
                <div class="form-group">
                  <label for="topPrice">Price to($):</label>
                  <input type="number" class="form-control" [(ngModel)]="topPrice" id="topPrice"
                         (ngModelChange)="makeEvaluationsAfterFilterChange()">
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="card" style="margin-top: 10px;">
          <article class="card-group-item">
            <header class="card-header">
              <h6 class="title"><i class="fas fa-sort"></i> Products Order </h6>
            </header>
            <div class="filter-content">
              <div class="card-body" style="text-align: left">
                <div class="custom-control custom-checkbox">
                  <span *ngIf="sortingByPrice" class="float-right"><i class="fa fa-arrow-circle-up" [class.fa-rotate-180]="sortingDescending" (click)="changeSortingDirection();makeEvaluationsAfterFilterChange();"></i></span>
                  <input type="checkbox" class="custom-control-input cursorPointerOnHover" id="sortingByPrice"
                         [(ngModel)]="sortingByPrice" (ngModelChange)="changeSortingByName();makeEvaluationsAfterFilterChange();">
                  <label class="custom-control-label cursorPointerOnHover"
                         for="sortingByPrice">By price</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <span *ngIf="sortingByName" class="float-right"><i class="fa fa-arrow-circle-up" [class.fa-rotate-180]="sortingDescending" (click)="changeSortingDirection();makeEvaluationsAfterFilterChange();"></i></span>
                  <input type="checkbox" class="custom-control-input cursorPointerOnHover" id="sortingByName"
                         [(ngModel)]="sortingByName" (ngModelChange)="changeSortingByPrice();makeEvaluationsAfterFilterChange();">
                  <label class="custom-control-label cursorPointerOnHover"
                         for="sortingByName">By name</label>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-lg-10">
      <div class="text-left">
        <b>{{filteredProducts.length}}</b> products found. Your page size is
        <select style="width: 70px; display: inline;" class="form-control" [(ngModel)]="pageSize"
                (ngModelChange)="navigateToFirstPage();evaluatePagesNumber();">
          <option>5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
      <nav *ngIf="pagesNumber > 1" aria-label="Pagination" style="margin-top: 3px;">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1" (click)="decreaseCurrentPageNumber()">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item" [class.active]="currentPage === pageNumber"
              *ngFor="let pageNumber of getAllPagesNumbers()"><a (click)="currentPage = pageNumber" class="page-link"
                                                                 >{{pageNumber}}</a></li>
          <li class="page-item" [class.disabled]="currentPage === pagesNumber" (click)="increaseCurrentPageNumber()">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <app-products [productsFiltered]="getCurrentPageProducts()"></app-products>
    </div>
  </div>
</div>
