<div class="container marginTopDueToNavigationBar">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="staticEmail" placeholder="user@something.com" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <button type = "submit" class="btn btn-primary" (click)="loginToFirebase()">Log In</button>
      </form>
    </div>
  </div>
</div>
