<div class="row" style="margin-top: 0; margin-bottom: 0; text-align: left">
  <div class="col-6 col-sm-4 col-lg-2 text-right">
    <img src="{{product.imageUrl}}" style="width: 128px; height: 128px;">
  </div>
  <div class="col-6 col-sm-4 col-lg-2" style="position: relative;">
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">name</div>
      <h6>{{product.name}}</h6>
    </div>
    <div style="position: relative; margin-top: 15px;">
      <div class="littleGrayLabel">price</div>
      <h5>{{product.price}}$</h5>
    </div>
  </div>
  <div class="col-12 col-sm-4 col-lg-7 text-center text-sm-left">
    <h5>Quantity:{{product.quantity}}</h5>
    <div style="margin: 2px;">
      <button class="btn btn-outline-danger" (click)="decreaseOrderQuantity()"><i class="far fa-minus-square"></i>
        decrease quantity
      </button>
    </div>
    <div style="margin: 2px;">
      <button class="btn btn-outline-danger" (click)="removeWholeOrder()"><i class="far fa-minus-square"></i> remove
        order
      </button>
    </div>
  </div>
</div>

