<div class="container marginTopDueToNavigationBar">
  <h3>Products in Cart <i class="fas fa-shopping-cart"></i></h3>
  <table *ngIf="productsInCart.length" class="table table-hover">
    <tbody>
    <tr *ngFor="let product of productsInCart">
      <td>
        <app-ordered-product *ngIf="product.quantity" [product]="product"></app-ordered-product>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <div *ngIf="!productsInCart.length" class="alert alert-info">
      Currently you have no products in your cart...
    </div>
    <h5 *ngIf="productsInCart.length">
       {{productsNumber}} items. Overall cost: {{overallCost}}$
    </h5>
    <button class="btn btn-primary" routerLink="/products">Back To Shop...</button>
    <span *ngIf="productsInCart.length" >
      &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" data-toggle="modal" data-target="#makeOrderModal">Make Order</button>
    </span>

    <div class="modal fade" id="makeOrderModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Order Destination</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <form id="orderDestinationForm">
              <label for="addressee">Addressee</label>
              <input type="text" class="form-control" id="addressee" placeholder="Name & Surname" [(ngModel)]="addressee.value" [ngModelOptions]="{standalone: true}" [class.border-danger]="!addressee.valid" required>
              <div *ngIf="!addressee.valid" class="invalid-feedback" style="display: block;">
                You must provide your name and surname.
              </div>
              <br>
              <label for="destination">Destination Address</label>
              <input type="text" class="form-control" id="destination" placeholder="Address" [(ngModel)]="address.value" [ngModelOptions]="{standalone: true}" [class.border-danger]="!address.valid" required>
              <div *ngIf="!address.valid" class="invalid-feedback" style="display: block;">
                You must provide address.
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button id="#modalCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="checkOrderFormValidity()">Confirm</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
