<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h6 class="modal-title">Product Details</h6>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <div class="text-center">
        <img src="{{product.imageUrl}}" style="width:200px; height: 200px; border-radius: 50%;">
      </div>
      <h4 class="text-center">{{product.name.toUpperCase()}}</h4>
      <h3 class="text-center">
        <div class="row">
          <div class="col-6 text-right">
            <div>Price:</div>
            <div>Type:</div>
          </div>
          <div class="col-6 text-left">
            <div class="badge badge-success">{{product.price}}$</div>
            <div style="display: block;">{{product.getTypeString()}}</div>
          </div>
        </div>
      </h3>
      <div class="row">
        <div class="col-12">
          <textarea disabled class="form-control" style="background-color: whitesmoke; margin-top: 20px;" rows="4">{{product.description}}</textarea>
        </div>
      </div>

    </div>
  </div>
</div>

