<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #e3f2fd;">
  <a routerLink="/products" class="navbar-brand">
    <button type="button" class="btn btn-primary">
      <span class="badge badge-warning">A3</span> Atletico3000
    </button>
  </a>
  <button class="navbar-toggler"
          type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse flex-row-reverse">
    <ul class="navbar-nav" id="navScrollspy" *ngIf="loggedEmail">
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="#navbarNav">Scroll up</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link">{{loggedEmail}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="logOutCurrentUser()">LogOut</a>
      </li>
      <li class="nav-item" *ngIf="adminLogged">
        <a class="nav-link" routerLink="/admin">Admin panel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <app-cart-summarization></app-cart-summarization>
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
