<div>
  <table class="table table-hover" style="background-color: ghostwhite;">
    <tbody>
      <tr *ngFor="let product of productsFiltered">
          <td>
          <app-product [product]="product" (orderProduct)="orderProduct($event)"></app-product>
          </td>
      </tr>
    </tbody>
  </table>
</div>
