<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Order Destination</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <form style="border: 1px dotted gray; border-radius: 15px; padding:10px 5px; margin: 5px; background-color: white">
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Name<span class="text-danger">*</span></label>
          <div class="col-9">
            <input [(ngModel)]="productTemplate.name" id="name" name="name" type="text" class="form-control"
                   placeholder="Provide your product name" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="type" class="col-3 col-form-label">Type<span class="text-danger">*</span></label>
          <div class="col-9">
            <select class="form-control" id="type" name="type" [(ngModel)]="productTemplate.type" required>
              <option *ngFor="let type of currentProductTypes" [ngValue]="type.id">{{type.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Price($)<span class="text-danger">*</span></label>
          <div class="col-9">
            <input [(ngModel)]="productTemplate.price" id="price" name="price" type="number" class="form-control"
                   placeholder="Price" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">Quantity<span class="text-danger">*</span></label>
          <div class="col-9">
            <input [(ngModel)]="productTemplate.quantity" id="quantity" name="quantity" type="number"
                   class="form-control"
                   placeholder="Initial products number" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="imageUrl" class="col-3 col-form-label">Image<span class="text-danger">*</span></label>
          <div class="col-9">
            <input [(ngModel)]="productTemplate.imageUrl" id="imageUrl" name="imageUrl" type = "text" class="form-control"
                   placeholder="...provide url of image..." required>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-3 col-form-label">Description<span class="text-danger">*</span></label>
          <div class="col-9">
            <textarea [(ngModel)]="productTemplate.description" id="description" name="description" class="form-control"
                      placeholder="...description..."></textarea>
          </div>
        </div>
        <div style="text-align: left; color: gray"><span class="text-danger">*</span> -- field required</div>
      </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button id="{{'#modalCloseButton' + productTemplate.id}}" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="addCreatedProduct()">Confirm</button>
    </div>
  </div>
</div>
