<div class="row" style="margin-top: 0; margin-bottom: 0; text-align: left" [class.alert-danger]="product.quantity <= 1">
  <div class="col-6 col-sm-4 col-lg-2 text-right">
    <img src="{{product.imageUrl}}" style="width: 128px; height: 128px;" class="cursorPointerOnHover"
         data-toggle="modal" [attr.data-target]="'#product' + product.id">
  </div>
  <app-product-modal [product]="product"  class="modal fade" id="{{'product'+product.id}}"></app-product-modal>
  <div class="col-6 col-sm-4 col-lg-2" style="position: relative;">
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">name</div>
      <h6>{{product.name}}</h6>
    </div>
    <div style="position: relative; margin-top: 15px;">
      <div class="littleGrayLabel">price</div>
      <h5>{{product.price}}$</h5>
    </div>
    <button class="btn btn-outline-primary" style="position: absolute; bottom: 0;"
            (click)="makeOrderProduct()">
      <i class="far fa-plus-square"></i> Add to cart
    </button>
  </div>
  <div class="d-none d-sm-block col-sm-4 col-lg-7">
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">description</div>
      {{product.description.substring(0,70)}}{{(product.description.length > 70) ? '...' : ''}}
    </div>
  </div>
</div>
