<div>
  <h3>Orders:</h3>
  <div class="form-check">
    <label class="form-check-label cursorPointerOnHover">
      <input type="checkbox" class="form-check-input" [(ngModel)]="realizedOrdersVisible">Show realized orders
    </label>
  </div>

  <div *ngFor="let order of getFilteredOrders()" style="border: 2px dotted black; border-radius: 15px; padding: 10px; margin-bottom: 10px;">
    <div class="row">
      <div style="margin: 10px;">
          <h4>
            <span class="badge" [class.badge-danger]="order.status === 1"
                               [class.badge-warning]="order.status === 2"
                               [class.badge-success]="order.status === 3">
              {{order.getOrderStatusString()}}
            </span>
          </h4>
      </div>
      <div style="margin: 10px;">
        <h4 style="display: inline;">To: </h4>{{order.destinationAddress}}
      </div>
      <div style="margin: 10px;"><h4 style="display: inline;">For: </h4>{{order.addressee}}</div>
      <div style="margin: 10px;">
        <h4 style="display: inline;">Worth: </h4>
        <h5 style="display: inline;"><span class="badge badge-secondary">{{order.getProductsSumPrice()}}$</span></h5>
      </div>
      <div style="margin: 10px;">
        <h4 style="display: inline;">Estimated Completion Time: </h4>
        <h5 style="display: inline;" *ngIf="order.estimatedRealizationTime"><span class="badge badge-info">{{order.estimatedRealizationTime | date: 'dd/MM/yyyy::HH:mm:ss'}}</span></h5>
        <h5 style="display: inline;" *ngIf="!order.estimatedRealizationTime">unknown</h5>
      </div>
    </div>
    <table class="table table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Unit price</th>
        <th scope="col">Quantity</th>
      </tr>
      </thead>
      <tr *ngFor="let product of order.products">
        <td>{{product.name}}</td>
        <td>{{product.price}}$</td>
        <td>{{product.quantity}}</td>
        <td>
          <button *ngIf="!product.packed" class="btn btn-outline-danger" (click)="markOrderedProductAsCompleted(order.id, product.id)">
            Mark as completed
          </button>
          <h2 *ngIf="product.packed" class="badge badge-success">
            Completed
          </h2>
        </td>
      </tr>
    </table>
    <button *ngIf="order.status !== 3" class="btn btn-outline-danger" (click)="markOrderAsRealized(order.id)">
      Mark as realized
    </button>
    <div *ngIf="order.status === 3">
      <h4 style="display: inline;">Realization Day: </h4>{{order.realizationDate | date:'medium'}}
    </div>
  </div>
</div>
