/* You can add global styles to this file, and also import other style files */
/*body {background-color: #edeff1;}*/
body {background-color: whitesmoke;}

.cursorPointerOnHover:hover{
  cursor: pointer;
}

.littleGrayLabel{
  position: absolute;
  top: -10px;
  font-size: x-small;
  font-style: italic;
  color: gray;
}

.marginTopDueToNavigationBar {
  margin-top: 85px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 85px;
}
