<div class="container" style="margin-top: 85px;">
  <div class="row">
    <div class="col-12 col-sm-3 col-lg-2">
      <div class="card sticky">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Choose View </h6>
          </header>
          <div class="filter-content">
            <div class="card-body" style="text-align: left">
              <div style="margin: 5px;">
                <button (click)="setOrdersView()" class="btn" [class.btn-primary]="ordersViewSelected" [class.btn-light]="productsViewSelected" style="width: 100%">Orders</button>
              </div>
              <div style="margin: 5px;">
                <button (click)="setProductsView()" [disabled]="assistantLogged" class="btn" [class.btn-primary]="productsViewSelected" [class.btn-light]="ordersViewSelected" style="width: 100%;" [ngStyle]="{'cursor': assistantLogged ? 'not-allowed':'pointer'}">Products</button>
                <label *ngIf="productsViewSelected" for="productsFilter" style="margin-top: 10px;"><i class="fas fa-filter"></i>Filter</label>
                <input *ngIf="productsViewSelected" id="productsFilter" type="text" [(ngModel)]="productsFilter" class="form-control">
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-lg-10">
      <div *ngIf="productsViewSelected">
        <table class="table table-hover" style="background-color: ghostwhite;">
          <tbody>
          <tr *ngFor="let product of filterProducts(products)">
            <td>
              <app-admin-product [product]="product"></app-admin-product>
            </td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="margin-bottom: 15px;"
                data-toggle="modal" data-target="#addNewProductModal">
          Add new product
        </button>
        <app-product-creator [productTemplate]="emptyProduct" class="modal fade" id="addNewProductModal"></app-product-creator>
      </div>
      <app-orders-panel *ngIf="ordersViewSelected"></app-orders-panel>
    </div>
  </div>
</div>
