<div class="row" style="margin-top: 0; margin-bottom: 0; text-align: left" [class.alert-danger]="product.quantity < 1">
  <div class="col-6 col-sm-4 col-lg-2 text-right">
    <img src="{{product.imageUrl}}" style="width: 128px; height: 128px;" class="cursorPointerOnHover"
         data-toggle="modal" [attr.data-target]="'#productAdmin' + product.id">
  </div>
  <app-product-modal [product]="product"  class="modal fade" id="{{'productAdmin'+product.id}}"></app-product-modal>
  <div class="col-6 col-sm-4 col-lg-2" style="position: relative;">
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">name</div>
      <h6>{{product.name}}</h6>
    </div>
    <div style="position: relative; margin-top: 15px;">
      <div class="littleGrayLabel">price</div>
      <h5>{{product.price}}$</h5>
    </div>
    <button type = "button" class="btn btn-outline-primary" style="position: absolute; bottom: 0;"
            data-toggle="modal" [attr.data-target]="'#product' + product.id">
      Edit Product
    </button>
    <app-product-creator [productTemplate]="productCopy" class="modal fade" id="{{'product'+product.id}}"></app-product-creator>
  </div>
  <div class="d-none d-sm-block col-sm-4 col-lg-7">
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">description</div>
      <span *ngIf="product.description">{{product.description.substring(0, 70)}}{{(product.description.length > 70) ? '...' : ''}}</span>
    </div>
    <div style="position: relative; margin-top: 12px;">
      <div class="littleGrayLabel">quantity</div>
      {{product.quantity}} item(s)&nbsp;&nbsp;&nbsp;
      <div class="littleGrayLabel" style="left: 90px;">shortage time</div>
      <span *ngIf="product.shortageTime">{{product.shortageTime  | date: 'dd/MM/yyyy::HH:mm:ss'}}</span>
      <span *ngIf="!product.shortageTime">unknown</span>
    </div>
    <button (click)="removeProduct()" type = "button" class="btn btn-outline-danger" style="position: absolute; bottom: 0;">
    Remove Product
    </button>
  </div>
</div>
